@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#c8b6ff; 
} 
.content{    
    background-color: white  ; 
    max-width: 600px;   /*to make width unchangable*/
    margin-top : 30px ; 
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
    background-color:#1c2841;
    color: white;
}
.content h2{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px; 
    font-family: "Montserrat", sans-serif;
}

.formcontainer{  
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
}
 
.formcontrol{
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-size: 12px;  
}
label{
    font-size: 18px;  
}
 
input,select,textarea{
  padding: 12px 15px;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 3px;
  margin-top: 12px;   
  color: white;
  background:transparent;
}
select option{
   color: black;
}
  
 
button{
    background-color: #ef233c;
    font-size: 17px ; 
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    transition: 0.3s ease-in;

}

button:hover{
    background-color: #4361ee;
    cursor:pointer;  
    transition: 0.3s ease-in;
}   

.button-container{ 
   display: flex;
   justify-content: flex-end;
   margin-right: 18px;  
   margin-top: 12px; 
}

.content:hover{
   outline: #0ef;
   box-shadow: 0 0 10px #0ef ,inset 0 0 10px #0ef;
}

input:hover{ 
    /* box-shadow: 0 0 10px  rgb(0, 255, 123) ,inset 0 0 10px rgb(0, 255, 123); */
    box-shadow: 0 0 10px  #9a82e0 ,inset 0 0 10px  #9a82e0; 
}
select:hover{ 
    box-shadow: 0 0 10px    #6e58b3 ,inset 0 0 10px #6e58b3; 
}
textarea:hover{ 
    box-shadow: 0 0 10px  #9a82e0 ,inset 0 0 10px  #9a82e0; 
}


 
 
 


 